{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    	<div class="col-12">
        <button class="collapse">Search through all catalogs by categories</button>
        <!-- Category menu start -->
        <ul class="catmenu">
            {%for parent in categories %}  
            {%if parent.parentid is none %}
            <li> <a href="{{url_for('showItemsByCat', categoryid = parent.id, categoryname = parent.name)}}" title="{{parent.name}}" class="parent">{{parent.name}}</a></li>       
                {%for children in categories %}
                <ul>
                    {%if children.parentid == parent.id%}
                    <li> <a href="{{url_for('showItemsByCat', categoryid = children.id, categoryname = children.name)}}" title="{{children.name}}"   class="child"> {{children.name}} </a> </li>
                    {%endif%}
                </ul>
                 {%endfor%}
            {%endif%}
            {%endfor%}
        </ul>
        <!-- Category menu end -->        
    </div>

<div class = "row">
    <div class = 'col-12 flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}          
        <ul>
        {% for message in messages %}
            <li><strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>	
</div>

<div class = "row">
	<div class="list col-12"">
        <div >
            <h1>{{item.name}}</h1>
            
            <p > Created by: {{item.user.name}} <br />
                <a href="mailto:{{item.user.email}}" title="mailto:{{item.user.email}}"> Contact@Me</a><br />
                Calalog: <a href="{{url_for('showItems', userid = item.userid, catalogid = item.catalogid)}}" title = ""> {{ item.catalog.name}} </a>
            </p>
            <p>
                <img src="/static/image/{{item.picture|default('placeholder.jpeg')}}" class="detail">  <br />              
                 {{item.description }} </br>
                 Price:  {{item.price}}</br>
                 Category:<a href="{{url_for('showItemsByCat', categoryid=item.category.id, categoryname = item.category.name)}}" title="{{item.category.name}}"> {{item.category.name}}  </a> <br /> 
            </p> 
        </div>
           
            <div>
            <!-- Go back to the Catalog List-->
             <a href="{{url_for('showItems', userid = item.userid, catalogid = item.catalogid)}}" title = "Back to {{ item.catalog.name}}" class="button" >  <<< Back to {{ item.catalog.name}} </a>            
            </div> 
    </div>   
</div>
 {% endblock %}